.timer {
    display: flex;
    gap: 10px;
    margin:20px auto;
     justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
    text-align: center;
}